.responsive-txt{
       font-size: 1.0vw;
       text-align: center;
}
.responsive-img {
       width: 100%;
       height: auto;
       max-width: 400px;

     }
@media (max-width: 768px){
       .responsive-txt{
              font-size: 13px;
       }
}

.menu-item {
       padding: 0 40px;
       margin: 7px 12px 7px 12px;
       user-select: none;
       cursor: pointer;
       border: 1px transparent solid;
}
.menu-item-wrapper {
border: 1px transparent solid;
}
.menu-item-wrapper:hover {
 margin: 0 7px 0px 7px;
 backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#f9f9f9 0%,#e0e0e0 100%);
  border-radius: 25px;
  box-shadow: 0px 1px 1px rgba(0%,0%,0%,0.6),0px 0px 5px rgba(255,255,255,1),0px 1px 0px 3px rgba(0,0,0,0.2),inset 0px 1px 0px rgba(255,255,255,1);
    color: #123;
  }



.menu-item-wrapper.active {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#f9f9f9 0%,#e0e0e0 100%);
  border-radius: 100px;
  border: 0.5px solid rgba(0%,0%,0%,0.2);
  border-width: 0.5px 0.5px 0.5px 0.5px;
  box-shadow: 0px 1px 1px rgba(0%,0%,0%,0.6),0px 0px 5px rgba(255,255,255,1),0px 1px 0px 3px rgba(0,0,0,0.2),inset 0px 1px 0px rgba(255,255,255,1);
    color: #123;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal
  }
  
.menu-item.active {
  border-radius: 5px;
  border: 1px  rgba(255,255,255,1);
}

.menu-wrapper{
       padding : 5px;
}
.scroll-menu-arrow {
padding: 20px;
cursor: pointer;
}

.card-body{
       padding: 0.5rem !important;
}
.card {
       margin-bottom:0.5rem;
}
.full-width {
       max-width: 100%;
}
.page-title {
       margin: 25px 0;
       text-align: center;
       font-size: .8rem;
       text-transform: uppercase;
       color: #000;
       font-weight: 400;
       margin-top: 20px;
}

.big{
       font-family: HolmenRegular,Helvetica,Arial,san-serif;
       font-size: 2.2rem;
       letter-spacing: .2rem;
}


.review a.head {
       display: block;
       width: 100%;
       padding: 0px 40px;
       box-sizing: border-box;
       text-align: center;
       color: #000;
       text-transform: uppercase;
       font-size: 0.8rem;
       font-family: ProximaNovaSemibold, Helvetica, Arial, san-serif;
       height: 30px;
       line-height: 30px;
       border-bottom: 1px solid #e2e2e2;
       box-shadow: 0px 0px 7px 0px #e2e2e2;
}
.review a.head span.picto {

}

.review .content {
       background: #fff;
       width: 100%;
       padding: 0px 20px;
       box-sizing: border-box;
       z-index: 2;
       display: none;
       position: absolute;
       border-bottom: 1px solid #e2e2e2;
       box-shadow: 0px 1px 5px 0px #a2a2a2;
}

.review .content p.product-type {
       margin-top: 20px;
       text-transform: uppercase;
       color: gold;
       font-size: 0.9rem;
}

/*p.product-type:first-child {
       margin-top: 0px;
}*/

.review .content ul.options {
       width: 100%;
}

.review .content ul.options li {
       margin-top: 10px;
       width: 33%;
       float: left;
       text-transform: uppercase;
       font-size: 0.8rem;
       color: #000;
       
}
ul.options li span.label {
       font-weight: bold;
}

ul.options li span.picto {
       color: gold;
}

.review .content div.right {
       float: right;
       text-align: right;
}

.review .content a.close {
       padding: 20px;
       margin: 10px auto 0px auto;
       display: block;
       width: 19px;
}
.review .content a.close .picto {
       width: 19px;
       height: 10px;
       background-position: -127px -65px;
       display: block;
}

.review.open a.head {
       border-bottom: 0px;
       box-shadow: 0px 0px 0px 0px;
}
.review.open span.picto {
       display: none;
}

.review.open .content {
       display: block;
}



.accordion {
       width: 100%;
     }
     .panel {
       background-color: #f0ebe1;
     }
     .panel__label {
       position: relative;
       display: block;
       width: 100%;
       background: none;
       border: none;
       text-align: left;
       padding: 25px 60px 25px 25px;
       font-weight: 500;
       font-size: 17px;
       font-family: inherit;
       transition: color 0.2s linear;
       cursor: pointer;
     }
     .panel__label:focus {
       outline: none;
     }
     .panel__label:after,
     .panel__label:before {
       content: '';
       position: absolute;
       right: 25px;
       top: 50%;
       width: 22px;
       height: 2px;
       margin-top: -2px;
       background-color: #372717;
     }
     .panel__label:before {
       -webkit-transform: rotate(-90deg);
               transform: rotate(-90deg);
       transition: -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
       transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
       transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
     }
     .panel[aria-expanded='true'] .panel__content {
       opacity: 1;
     }
     .panel[aria-expanded='true'] .panel__label {
       color: #957029;
     }
     .panel[aria-expanded='true'] .panel__label:before {
       -webkit-transform: rotate(0deg);
               transform: rotate(0deg);
     }
     .panel__inner {
       overflow: hidden;
       will-change: height;
       transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
     }
     .panel__content {
       margin: 5px 25px 25px;
       font-size: 14px;
       color: #756658;
       opacity: 0;
       transition: opacity 0.3s linear 0.18s;
     }
     .panel:not(:last-child) {
       margin-bottom: 3px;
     }
     


     .pagination {
       background: #f2f2f2;
       padding: 20px;
       margin-bottom: 20px;
   }
   
   .page {
       display: inline-block;
       padding: 0px 9px;
       margin-right: 4px;
       border-radius: 3px;
       border: solid 1px #c0c0c0;
       background: #e9e9e9;
       box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
       font-size: .875em;
       font-weight: bold;
       text-decoration: none;
       color: #717171;
       text-shadow: 0px 1px 0px rgba(255,255,255, 1);
   }
   
   .page:hover, .page.gradient:hover {
       background: #fefefe;
       background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
       background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
   }
   
   .page.active {
       border: none;
       background: #616161;
       box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
       color: #f0f0f0;
       text-shadow: 0px 0px 3px rgba(0,0,0, .5);
   }
   
   .page.gradient {
       background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
       background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
   }


   .canvas{
          width: 100% !important;
          height: 100%;
   }

   .select_quality{
          width: 33%;
          margin-left: 66%;
   }


.HUD-btn{
       float: left;
       margin-top: 0px !important;
       margin-left: 0px !important;
       top: 10% !important;
       left:80% !important;
       position: absolute;
}



.cell {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #777777;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  font-size: 10px;
  line-height: 10px;
}

.default {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  font-weight: 36;
  font-size: 16px;

}

.cell:hover {
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.3);
}

.shuffle {
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 0px 20px 0px 20px;
  width: auto;
  height: auto;
  background: white;
  border: solid 2px #ffaad4;
  border-radius: 7px;
  color: #ffaad4;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  line-height: 45px;
}

.shuffle:hover {
  background: #f9f9f9;
}

.details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffffffa0;
  color: white;
  padding: 40px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
}

.details h1 {
  color: #ca6a9a;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: 250px;
}

.details p {
  color: thistle;
  font-size: 26px;
  line-height: 26px;
  margin: 0;
  padding-top: 15px;
}

.circle {
  position: absolute;
  top: calc(12% - 140px);
  left: calc(50% - 140px);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #000
  
}
.circle:hover {
  position: absolute;
  top: calc(13% - 140px);
  left: calc(50% - 140px);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.circle-text{
 position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */ 
  font-weight: 36;
  font-size: 19px;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 26px;
  color: #777777;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.grid {
  flex: 1;
}